[user]
	name = Bram Schoenmakers
	email = me@bramschoenmakers.nl
[color]
	ui = true
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
	tool = fugitive
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool "fugitive"]
        cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[alias]
        diffs = diff --stat
        lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
