! Cursor
Xcursor.theme: Oxygen_White

! Xterm
xterm*foreground: #dcdccc
xterm*background: #2c2c2c
! Black
xterm*color0: #707070
xterm*color8: #709080
! Red
xterm*color1: #705050
xterm*color9: #dca3a3
! Green
xterm*color2: #60b48a
xterm*color10: #72d5a3
! Yellow
xterm*color3: #ffed96
xterm*color11: #f0ff50
! Blue
xterm*color4: #9ab8d7
xterm*color12: #94bff3
! Magenta
xterm*color5: #dc8cc3
xterm*color13: #ec93d3
! Cyan
xterm*color6: #8cd0d3
xterm*color14: #93e0e3
! Gray
xterm*color7: #dcdccc
xterm*color15: #ffffff

xterm*faceName: dejavu sans mono
xterm*faceSize: 8

xterm*cursorBlink: on
xterm*cursorOffTime: 500
xterm*cursorOnTime: 500
